
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1Admin.cshtml";
   // Layout = "~/Views/Shared/_View.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<p>@ViewBag.msg</p>