
@{
    ViewBag.Title = "AfterSignup";
}

<h2 style="color:#00ff21">Your Account is Successfully Created .....It will be approved by Admin Within 6hrs...</h2>
<h3 style="color:#4cff00">
    Thanks for Registration
</h3>

