
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h1 style="color:lightpink">Error</h1>
</center>
<h2 style="color:lightpink">The page or action you request is not found....</h2>
<p style="color:lightpink">
    @ViewBag.msg
</p>

