
@{
    ViewBag.Title = "Userpanel";
    Layout = "~/Views/Shared/partial_layout.cshtml";
}
<style>
    h2{
        font-size:30px;
    }
</style><center>
    <h2 style="color:yellow;font-display:block">Userpanel</h2>
</center>
<p>@TempData["msg"]</p>

